
  <form #form="ngForm">
    <div class="form-group input-field col s12">
      <label for="name">Task description...</label>
      <input type="text" class="form-control" id="description" 
             required [(ngModel)]="taskModel.description" name="description">{{taskModel.description}}
    </div>
    <button (click)="onAdd()" class="btn waves-effect waves-light blue darken-1" type="submit" name="action">Adicionar Task ou Salvar</button>
    <a (click)="onCancel()" class="btn-flat">Cancelar</a>
  </form>


