.auth-wrapper {
  height: 100vh;
  background-color: whitesmoke;
}

.auth-wrapper .container {
  margin-bottom: 12%;
}

.login-card {
  width: 300px;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

.login-card .loading-wrapper {
  height: 100%;
}

.login-card div button img {
  width: 25px;
  margin-top: -3px;
}
