<div>

  <ul class="collection with-header">
    <li class="collection-header"><h4>{{ checkList.name || "Select a checklist..."}}</h4></li>

    <li *ngIf="loading" class="collection-item center-align">
      <df-loading></df-loading>
    </li>

    <!--TASK LIST-->
    <div [class.hidden]="loading">
      <li *ngFor="let task of tasksObservable | async" class="collection-item">
        <df-task-item (click)="selectTask(task)" [task]='task' ></df-task-item>
      </li>
    </div>


    <!--TASK EDIT-->
    <li *ngIf="addMode" class="collection-item">
      <df-form-edit [model]="taskModel" [formEdit]="formEdit" (addEvent)="onAddEvent($event)" (cancelEvent)="onCancelEvent($event)"></df-form-edit>
    </li>
  </ul>

  <a (click)="addTask()" class="blue-text darken-1" href="#" style="display: block; font-size: 20px;"><i class="blue-text darken-1 material-icons left" style="font-size: 30px;">add</i>New task</a>

  <div style="text-align: center">
    <button *ngIf="cleanButtonVisible" type="submit" class="btn waves-effect waves-light blue darken-1" style="text-align: center;" (click)="resetCompleted()">Reset completeds</button>
  </div>

</div>
