<div>

  <md-card>

    <h4>{{ checkList?.name || "Select a checklist..."}}</h4>

    <div *ngIf="loading" class="collection-item center-align">
      <df-loading></df-loading>
    </div>

    <md-list [class.hidden]="loading">
      <md-list-item style="cursor: pointer;" *ngFor="let task of tasksObservable | async" (click)="selectChecklist(checklist)">
          <df-task-item (click)="selectTask(task)" [task]='task' ></df-task-item>
      </md-list-item>
    </md-list>

  </md-card>

  <md-card *ngIf="addMode">
    <df-form (submitted)="onSubmitted($event)" (cancel)="onCancel()" [questions]="questions"></df-form>
  </md-card>


  <button type="button" *ngIf="!addMode && checkList" md-mini-fab color="primary" (click)="addTask()">
    <md-icon class="md-24" aria-label="new item">add</md-icon>
  </button>



  <!-- <div style="text-align: center">
    <button *ngIf="cleanButtonVisible" type="submit" class="btn waves-effect waves-light blue darken-1" style="text-align: center;" (click)="resetCompleted()">Reset completeds</button>
  </div> -->

</div>
