<nav class="blue darken-1">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>DO NOT FORGET</a>
    <ul class="right hide-on-med-and-down valign-wrapper">
      <li><a><i class="material-icons">search</i></a></li>
      <li><a><i class="material-icons">view_module</i></a></li>
      <li><a><i class="material-icons">refresh</i></a></li>
      <li (click)="logout()"><a><i class="material-icons">power_settings_new</i></a></li>
      <li><a class="valign-wrapper"><img src="{{avatarImage}}" alt="" height="40px"></a></li>
    </ul>
  </div>
</nav>
