<div>
  <h4>Eventos</h4>

  <ul>
    <li *ngFor="let checklist of checklists">
      <a (click)="selectChecklist(checklist)">{{ checklist.name }}</a>
    </li>
  </ul>

<!--TASK EDIT ng model tem q ficar aqui-->

  <df-form-edit *ngIf="addMode" [model]="checklistModel" [formEdit]="formEdit" (addEvent)="onAddEvent($event)" (cancelEvent)="onCancelEvent($event)"></df-form-edit>
  <a (click)="addChecklist()" class="blue-text darken-1" href="#" style="display: block; font-size: 20px;"><i class="blue-text darken-1 material-icons left" style="font-size: 30px;">add</i>Novo Item</a>


</div>
