<div>
  <h4>Checklists</h4>


  <md-card>
    <md-nav-list>
      <a md-list-item *ngFor="let checklist of checklists | async" (click)="selectChecklist(checklist)"> {{ checklist.name }} </a>
    </md-nav-list>
  </md-card>

  <df-form *ngIf="addMode" (submit)="onSubmit($event)" (cancel)="onCancel()" [questions]="questions"></df-form>

  <button *ngIf="!addMode" md-mini-fab color="primary" (click)="addChecklist()">
    <md-icon class="md-24" aria-label="new item">add</md-icon>
  </button>

</div>
