<div>

  <md-card>

    <h4>Checklists</h4>

    <md-list>
      <md-list-item style="cursor: pointer;" *ngFor="let checklist of checklists | async" (click)="selectChecklist(checklist)">
          <md-icon mdListIcon [style.color]="checklist.color || '#673ab7'">fiber_manual_record</md-icon>
          <h3 mdLine> {{checklist.name}} </h3>
      </md-list-item>
    </md-list>

  </md-card>

  <md-card *ngIf="addMode">
    <df-form (submitted)="onSubmitted($event)" (cancel)="onCancel()" [questions]="questions"></df-form>
  </md-card>

  <button mdTooltip="New checklist" *ngIf="!addMode" md-mini-fab color="primary" (click)="addChecklist()" style="margin: -20px 35px;">
    <md-icon class="md-24" aria-label="New checklist">add</md-icon>
  </button>

</div>
